* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.inter-uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background-color: #0f172a;
    border: none;
	margin: 0;
    color: #f8fafc;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
}

/* --- Barra de Navegación  --- */
.barra-navegacion  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8fafc;
    text-decoration: none;
}

.logo img {
    height: 6vh;
    width: auto;
    display: flex;
	align-items: flex-start;
}
.barra-navegacion-lista {
    color: #2563eb;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    text-decoration: none;

}
.barra-navegacion-item {
    color: #2563eb;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.barra-navegacion-itemlink {
    color: #2563eb; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.barra-navegacion-itemlink:hover{
    color: #87cfff; 
    text-decoration: none;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburguer-bar {
  width: 25px;
  height: 3px;
  background-color: #2563eb;
  border-radius: 2px;
}

/* --- Banners Hero  --- */
.banner-hero {
    background-color: #7cd0ff; /* El azul claro del banner */
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%; 
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #000;
    flex-shrink: 1;
}

/* Pagina de formula de Contacto*/
.contacto-seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #38bdf8;
    width: 100%;
    flex: 1 1 auto;
}

.contacto_imagen {
    height: min(90dvh, 100%);
    width: auto;
    flex: 1 1 auto;
    margin: 0 auto;
}

.contacto-columna-izquierda {
    background-color: #38bdf8;
    padding: 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;

    h1 {
        font-size: 3.5rem;
        font-weight: bold;
        color: #000;
    }
}
.contacto-columna-derecha {
    background-color: #0f172a;
    flex: 1;
    flex-shrink: 1;
}

.contactoForm {
    text-align: center;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
}
textarea {
  width: 100%;        /* Ocupa el 100% del ancho del contenedor */
  max-width: 100%;    /* Evita que se salga del borde en celulares */
  height: 100px;      /* Define una altura fija y razonable */
  resize: vertical;   /* Evita que el usuario lo deforme hacia los lados */
}
.boton-formulario {
    background-color: #2563eb;
    color: #e2e8f0;
    padding: 0.9rem 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boton-formulario:hover {
    background-color: #38bdf8;
    color: #2563eb
}
/*azul marino: #0f172a  //  azul: #2563eb // celeste: #38bdf8 // blanco:#f8fafc // gris claro: #e2e8f0  */

/* --- Sección del Catálogo (Principal) --- */
.main-catalogo-section {
    background-color: #13192e;
    padding: 1rem 1rem;
    width: min(1200px, auto);
}

/* Contenedor de la Cuadrícula (CSS Grid) */
.catalogo-grid-div {
    display: grid;
    /* Crea 3 columnas de igual ancho */
    grid-template-columns: repeat(3, 1fr); 
    /* Espacio entre los elementos de la cuadrícula */
    gap: 1.8rem;
    width: min(1200px, 85%);
    margin: 0 auto; /* Centra la cuadrícula */
    align-content: center;
}

/* Estilo de los Elementos del Catálogo */
.catalogo-elemento {
    background-color: #e2e8f0 ; /* El color verde claro de los elementos */
    color: #0f172a;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 8px; /* Bordes redondeados sutiles */
    align-content: center;

    img {
        width: min(9rem, 80%);
        height: auto;
    }

    h6 {
        font-size: 1.5rem;
    }
}

#div-escritorio-catalogo-img {
    width: min(9rem, 90%);
}

/*  Footer  */
.footer-background {
    background-color: #2563eb;
    width: 100%;
}
.footertabla {
    display: flex; /* Coloca los enlaces en fila */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    flex-direction: row;
    margin: 0 auto;
    gap: 1rem; /* Espacio de separación entre cada enlace */
    list-style: none; /* Quita los puntos de la lista */
    background-color: #2563eb;
    padding: 1rem;
    max-width: 1200px;
}

/* 5. Estilos de los enlaces (texto) */
.footeritem {
    width: auto;
    height: auto;
    align-self: center;
    flex-shrink: 1;
    color:#f8fafc; /* Color del texto */
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
    .hamburger {
    display: flex;
    }

   .barra-navegacion-lista {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    flex-direction: column;
    background-color: #38bdf8;
    text-align: center;
    padding: 1rem 0;
    transition: left 0.3s ease;
    z-index: 1000;
    }
    .barra-navegacion-lista.active {
    left: 0;
    top: 100%;
    }
    .barra-navegacion-item {
    margin: 1rem 0;
    }
    .catalogo-grid-div {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        width: auto;
    }
    .banner-title {
        font-size: 3.5rem;
    }
    .banner-hero {
        background-color: #7cd0ff;
        text-align: center;
        padding-top: 30%;
        padding-bottom: 30%; 
    }
    .contacto-seccion {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .contacto-columna-izquierda {
        align-content: center;
        align-items: center;
        width: 100%;
        flex: 1;
        flex-shrink: wrap;
        
        h1 {
            font-size: 3.5rem;
            font-weight: bold;
            color: #000;
        }
    }
    .contacto-columna-derecha {
        width: 100%;
        flex: 1;
        flex-shrink: wrap;
    }
    .contacto_imagen {
        width: 100%;
    }

    .footertabla {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footeritem {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
    }
}

@media (max-width: 320px) {
    .catalogo-grid-div {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .banner-title {
        font-size: 3.5rem;
    }
    .banner-hero {
        background-color: #7cd0ff; /* El azul claro del banner */
        text-align: center;
        padding-top: 25%;
        padding-bottom: 25%;
    }
}